<div class="content">
  <div class="container">

    <h1 class="text-center mt-4 mb-4">Danh sách bệnh nhân<br>đã đăng kí tiêm chủng theo yêu cầu</h1>
    <div class="search row d-flex justify-content-end mb-4 text-center">
      <div class="col-xl-2 col-md-3">
        <label for="">Họ và Tên</label>
        <input class="form-control" type="text" placeholder="Nhập Họ và Tên" id="">
      </div>
      <div class="col-xl-2 col-md-3">
        <label for="">Tình trạng</label>
        <select class="form-control" name="">
          <option value="">Chưa tiêm</option>
          <option value="">Đã tiêm</option>
        </select>
      </div>

      <div class="col-auto">
        <br>
        <button class="btn btn-success mt-2"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
    </div>

    <div class="table">
      <table class="table-hover table-bordered">
        <thead>
        <tr class="bg-table-header text-center">
          <th>STT</th>
          <th>Mã bệnh nhân</th>
          <th>Họ và tên</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th>Người giám hộ</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Tên Vắc-xin</th>
          <th>Loại Vắc-xin</th>
          <th>Tình trạng</th>
          <th>Kiểm tra trước khi khám</th>
        </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>BN-007</td>
          <td>Võ Văn A</td>
          <td>12/12/2018</td>
          <td>Nam</td>
          <td>Võ Văn Ha (cha)</td>
          <td>0938305977</td>
          <td>Đà Nẵng</td>
          <td>Phòng bệnh lao</td>
          <td>BCG</td>
          <td class="text-center">
            <span class="badge badge-danger">Chưa tiêm</span>
          </td>
          <td class="text-center">
            <button class="btn btn-success">Kiểm tra</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>BN-008</td>
          <td>Võ Văn B</td>
          <td>12/12/2018</td>
          <td>Nam</td>
          <td>Võ Văn Hb (cha)</td>
          <td>0938305978</td>
          <td>Đà Nẵng</td>
          <td>Phòng bệnh viêm gan B</td>
          <td>ENGERIX B</td>
          <td class="text-center">
            <span class="badge badge-primary">Đã Tiêm</span>
          </td>
          <td class="text-center">
            <button class="btn btn-success">Kiểm tra</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>BN-009</td>
          <td>Võ Văn C</td>
          <td>12/12/2018</td>
          <td>Nam</td>
          <td>Võ Văn Hc (cha)</td>
          <td>0938305979</td>
          <td>Đà Nẵng</td>
          <td>Phòng bệnh uốn ván</td>
          <td>TETTAVAX</td>
          <td class="text-center">
            <span class="badge badge-danger">Chưa tiêm</span>
          </td>
          <td class="text-center">
            <button class="btn btn-success">Kiểm tra</button>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-md-end">
          <li class="page-item">
            <a class="page-link" href="#">Đầu</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Trang sau</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item col-md-1 col-2 px-0">
            <input style="border-radius: 0" class="form-control" type="text" placeholder="1/5">
          </li>
          <li class="page-item">
            <button class="btn btn-primary" style="border-radius: 0">Đi</button>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Trang kế</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Cuối</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
