<div class="row justify-content-center">
  <div class="col-xl-6">
    <div class="container">
      <h3 class="mb-4">Cập nhật thông tin bệnh nhân</h3>

      <div class="row mb-3 ">
        <div class="col-4">
          <label for="name" class="col-form-label">Họ và tên <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input id="name" class="form-control" type="text" placeholder="Nhập họ và tên bệnh nhân">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label class="col-form-label">Giới tính <span class="text-danger">*</span></label>
        </div>
        <div class="col-8 row">
          <div class="col-5">
            <input name="gender" id="nam" type="radio">
            <label for="nam">Nam</label>
          </div>
          <div class="col-4">
            <input name="gender" id="nu" type="radio">
            <label for="nu">Nữ</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="dateOfBirth" class="col-form-label">Ngày sinh <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input id="dateOfBirth" class="form-control" type="date">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="guardian" class="col-form-label">Người giám hộ </label>
        </div>
        <div class="col-8">
          <input id="guardian" class="form-control" type="text" placeholder="Nhập họ và tên người giám hộ">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="address" class="col-form-label">Địa chỉ <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input id="address" class="form-control" type="text" placeholder="Nhập địa chỉ">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="phoneNumber" class="col-form-label">Số điện thoại <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input id="phoneNumber" class="form-control" type="text" placeholder="Nhập số điện thoại">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="email" class="col-form-label">Email <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input id="email" class="form-control" type="text" placeholder="Nhập Email">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div>
          <button style="margin-left: 10px" class="btn btn-primary">Sửa   </button>

          <a href="list-patient%20.html" class="btn btn-dark">Hủy</a>
        </div>
      </div>
    </div>
  </div>
</div>
