<div>
  <h2 class="text-center mt-4 mb-4">Tạo mới khách hàng(bệnh nhân)</h2>
  <div style="margin-left: 18%" class="container row g-3" id="createCustomer">
    <div class="col-2"></div>
    <div class="col-8">
      <form>
        <div class="mb-3 row">
          <label for="exampleInputName" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Họ và tên<span
              class="*">*</span>
            </div>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="exampleInputName">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputName" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Giới tính<span class="*">*</span>
            </div>
          </label>
          <div class="col-sm-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                     checked>
              <label class="form-check-label" for="flexRadioDefault2">Nữ</label>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputBirthday" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Ngày sinh<span class="*">*</span>
            </div>
          </label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="exampleInputBirthday">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputGuardian" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Người giám hộ
            </div>

          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="exampleInputGuardian">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputAddress" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Địa chỉ
            </div>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="exampleInputAddress">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputPhone" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Số điện thoại<span class="*">*</span>
            </div>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="exampleInputPhone">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="exampleInputEmail" class="col-sm-3 col-form-label">
            <div class="ml-4">
              Email<span class="*">*</span>
            </div>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="exampleInputEmail">
          </div>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 26%">
          <button type="submit" class="btn btn-primary icon">Lưu</button>
          <button style="margin-left: 10px" type="button" class="btn btn-dark icon">Hủy</button>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

