<div class="container" (click)="pageInput.value = ''">
  <div>
    <h3 class="text-center mt-4 ">DANH SÁCH BỆNH NHÂN ĐĂNG ĐĂNG KÝ TIÊM CHỦNG THEO ĐỊNH KỲ CỦA TRUNG TÂM</h3>
    <div class="search row mb-4 mt-4 xl-12 ">
      <div class="col-xl-6 mt-3">
        <div class="row">
          <div class="col-3">
            Mã Lịch:
          </div>
          <div class="col-3">LTC-001</div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            Ngày tiêm:
          </div>
          <div class="col-3">
            12/02/2015
          </div>
        </div>
      </div>
      <div class="col-xl-6 mt-3">
        <div class="search row d-flex justify-content-xl-end justify-content-center mb-4 text-center">
          <div class="col-xl-4 col-md-3">
            <label>Họ Và Tên</label>
            <input (change)="name = $event.target.value" class="form-control" type="text" placeholder="Họ Và Tên">

          </div>
          <div class="col-xl-4 col-md-3">
            <label>Tình trạng</label>
            <select (change)="status = $event.target.value" class="form-control">
              <option value="">Chọn Tình Trạng</option>
              <option value=false>Chưa tiêm</option>
              <option value=true>Đã tiêm</option>
            </select>
          </div>
          <div class="col-xl-auto col-4 mt-xl-4 mt-md-3 mt-2 d-xl-flex justify-content-xl-end">
            <button class="btn btn-success mt-2"  (click)="page = 0;searchPeriodicVaccination()"><i
              class="fa fa-search"></i> Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <table class="table table-hover table-striped table-bordered">
      <thead style="background-color:rgb(158,207,251)">
      <tr>
        <th>STT</th>
        <th>Mã bệnh nhân</th>
        <th>Họ và tên</th>
        <th>Ngày tháng năm sinh</th>
        <th>Giới tính</th>
        <th>Người giám hộ</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Tình trạng</th>
        <th>Trước khi khám</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let object of vaccinationHistoryList;let i = index">
        <td>{{i + 1}}</td>
        <td>BN-{{object.patient.patientId}}</td>
        <td>{{object.patient.name}}</td>
        <td>{{object.patient.dateOfBirth}}</td>
        <td>{{object.patient.gender}}</td>
        <td>{{object.patient.guardian}}</td>
        <td>{{object.patient.phone}}</td>
        <td>{{object.patient.address}}</td>
        <td>{{object.vaccination.status ? 'Đã tiêm' : 'Chưa tiêm' }}</td>
        <td>
          <button class="btn btn-primary">Kiểm Tra</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-md-end justify-content-center">
        <li class="page-item">
          <button class="page-link" [hidden]="page == 0" (click)="page = 0; searchPeriodicVaccination()">Đầu</button>
        </li>
        <li class="page-item">
          <button class="page-link" [hidden]="page == 0" (click)="page = page - 1; searchPeriodicVaccination()">Trang
            sau
          </button>
        </li>
        <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
        <li class="page-item col-md-1 col-2  px-0">
          <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
          <div class="input-group">
            <input #pageInput (change)="page = $event.target.value - 1" type="text"
                   class="form-control text-right rounded-0" [placeholder]="page + 1" aria-label="Username"
                   aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text" id=""> /{{pageable.totalPages}}</span>
            </div>
          </div>
        </li>
        <li class="page-item">
          <button (click)="searchPeriodicVaccination()" class="btn btn-primary rounded-0">Đi</button>
        </li>
        <li class="page-item">
          <button class="page-link" [hidden]="page >=  pageable.totalPages - 1"
                  (click)="page = page + 1; searchPeriodicVaccination()">Trang kế
          </button>
        </li>
        <li class="page-item">
          <button class="page-link" [hidden]="page >=  pageable.totalPages - 1 && page < pageable.totalPages"
                  (click)="page = pageable.totalPages - 1; searchPeriodicVaccination()">Cuối
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
