<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 align="center">Trang quản lý nhân viên</h2>
      <div class="search row d-flex justify-content-end mb-4 float-right">


        <div class="col-xl-3 col-md-3">
          <label for="nameVaccine">Mã nhân viên:</label>
          <input id="nameVaccine" class="form-control" type="text" placeholder="Nhập mã NV">
        </div>
        <div class="col-xl-3 col-md-3">
          <label>Họ và tên:</label>
          <input id="vaccineType" class="form-control " type="text" placeholder="Nhập tên NV">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label>Chức vụ:</label>
          <select class="form-control">
            <option>Chọn chức vụ</option>
            <option>Trưởng phòng</option>
            <option>Thủ kho</option>
            <option>Bác sĩ</option>
            <option>Điều dưỡng</option>
            <option>Thu ngân</option>
          </select>
        </div>
        <div class="col-xl-2 col-lg-2 width-search">
          <br>
          <button class="btn btn-success mt-xl-2" style="float: right; width: 120%">
            <i class="fa fa-search"></i>
            Tìm kiếm
          </button>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4" style="margin-top: -15px">
      <a href="#" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Tạo mới nhân viên
      </a>
      <h2 class="text-center">Danh sách sinh viên</h2>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div id="list">

        <table class="table table-hover table-striped table-bordered" style="font-size: 14px">
          <thead>
          <tr>
            <th>STT</th>
            <th width="8%">Mã NV
            </th>
            <th width="12%">Họ và tên</th>
            <th>Ngày sinh</th>
            <th>CMND</th>
            <th width="12%">Địa chỉ</th>
            <th width="13%">Số điện thoại</th>
            <th>Chức vụ</th>
            <th width="12%">Quyền truy cập</th>
            <th class="text-center">Chức năng</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employeeList, index as i">
            <td>{{i+1}}</td>
            <td>{{getEmployeeCode(employee.employeeId, 3)}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td>{{employee.idCard}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.account}}</td>
            <td class="text-center" width="11%">
              <a class="btn btn-success mr-1" [routerLink]="['/employee/edit-employee', employee.employeeId]"><i class="fa fa-edit"></i></a>
              <button class="btn btn-danger ml-1" (click)="temp(employee.employeeId)" data-toggle="modal" data-target="#modelId"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-md-end justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Đầu</a></li>
              <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
              <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
              <li class="page-item col-md-1 col-2  px-0">
                <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
                <div class="input-group">
                  <input type="text" class="form-control text-right rounded-0" placeholder="2"
                         aria-label="Username" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">/5</span>
                  </div>
                </div>
              </li>
              <li class="page-item">
                <button class="btn btn-primary rounded-0">Đi</button>
              </li>
              <li class="page-item"><a class="page-link" href="#">Trang kế</a></li>
              <li class="page-item"><a class="page-link" href="#">Cuối</a></li>
            </ul>
          </nav>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xác nhận xóa nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn có chắc muốn xóa nhân viên này?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                <button type="submit" (click)="onDel()" data-dismiss="modal" class="btn btn-primary">Xóa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
