<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="logo" href=""><img src="assets/image/medical-logo.jpg" alt="" width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Trang chủ</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="vaccinationRegister" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Đăng ký tiêm chủng
            </a>
            <div class="dropdown-menu" aria-labelledby="vaccinationRegister">
              <a class="dropdown-item" routerLink="">Tiêm chủng định kỳ</a>
              <a class="dropdown-item" routerLink="/vaccination-by-request/list">Đăng ký tiêm yêu cầu</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarManager" role="button"
               data-toggle="dropdown" aria-expanded="false">
              Quản lí
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/employee">Nhân viên</a></li>
              <li><a class="dropdown-item" routerLink="/vaccine-list">Vaccine</a></li>
              <li><a class="dropdown-item" routerLink="/periodical-vaccination-manager/list">Tiêm chủng</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarPatient" role="button"
               data-toggle="dropdown" aria-expanded="false">
             Bệnh nhân
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/patient/list">Bệnh nhân tổng hợp</a></li>
              <li><a class="dropdown-item" routerLink="/registered-required-vaccination">Đã đăng ký tiêm chủng yêu cầu</a></li>
              <li><a class="dropdown-item" routerLink="/periodic-vaccination/list">Đã đăng ký tiêm chủng định kỳ</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarEconomy" role="button"
               data-toggle="dropdown" aria-expanded="false">
             Tài chính
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/vaccine-price-list">Giá xuất Vắc-xin</a></li>
              <li><a class="dropdown-item" routerLink="/vaccine-transaction-list">Giao dịch khách hàng</a></li>
            </ul>
          </li>
        </ul>
        <div class="dropdown user">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarUser" role="button"
             data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarUser">
            <div *ngIf="isLoggedIn then logged else notLogged"></div>
            <ng-template #logged>
              <li><a href="" class="dropdown-item" (click)="logOut()">Đăng xuất</a></li>
              <li><a href="" class="dropdown-item" routerLink="/vaccination-history">Hồ sơ tiêm chủng</a></li>
            </ng-template>
            <ng-template #notLogged>
              <li><a class="dropdown-item" routerLink="register">Đăng ký</a></li>
              <li><a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Đăng nhập</a></li>
            </ng-template>
            <li>
            </li>
          </ul>
        </div>
        <div *ngIf="(username!=null) then login else notLogin"></div>
        <ng-template #login>
          <div class="dropdown user">Tài khoản: {{username}}</div>
        </ng-template>
        <ng-template #notLogin>
          <div class="dropdown user">Chưa đăng nhập.</div>
        </ng-template>

      </div>
    </div>
  </nav>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     [hidden]="isLoginFailed">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <app-login (submitLogin)="getUsername($event)"></app-login>
      </div>
    </div>
  </div>
</div>
