<div class="content">
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Đăng ký tiêm vắc-xin</h1>

    <div class="row justify-content-center">
      <div class="col-xl-6 left">
        <div class="container">
          <h3 class="mb-4">Thông tin bệnh nhân</h3>

          <div class="row mb-3">
            <div class="col-4">
              <label for="name" class="col-form-label">Họ và tên <span
                class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="name" class="form-control" type="text" placeholder="Nhập họ và tên bệnh nhân">
              <div style="height: 10px; font-size: 15px"></div>
            </div>


          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label class="col-form-label">Giới tính <span class="text-danger">*</span></label>
            </div>
            <div class="col-8 row">
              <div class="col-5">
                <input name="gender" id="nam" type="radio">
                <label for="nam">Nam</label>
              </div>
              <div class="col-4">
                <input name="gender" id="nu" type="radio">
                <label for="nu">Nữ</label>
              </div>
              <br>
              <div style="height: 10px; font-size: 15px" class="col-12"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="dateOfBirth" class="col-form-label">Ngày sinh <span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="dateOfBirth" class="form-control" type="date">
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="guardian" class="col-form-label">Người giám hộ <span
                class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="guardian" class="form-control" type="text"
                     placeholder="Nhập họ và tên người giám hộ">
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="address" class="col-form-label">Địa chỉ <span
                class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="address" class="form-control" type="text" placeholder="Nhập địa chỉ">
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="phoneNumber" class="col-form-label">Số điện thoại <span
                class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="phoneNumber" class="form-control" type="text" placeholder="Nhập số điện thoại">
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 right">
        <div class="container">
          <h3 class="mb-4">Thông tin vắc-xin</h3>

          <div class="row mb-3 ">
            <div class="col-4">
              <label class="col-form-label">Tên vắc xin</label>
            </div>
            <div class="col-8">
              <input value="Phòng bệnh lao" class="form-control" type="text" readonly>
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label class="col-form-label">Loại vắc-xin</label>
            </div>
            <div class="col-8">
              <input value="BCG" class="form-control" type="text" readonly>
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label class="col-form-label">Nước sản xuất</label>
            </div>
            <div class="col-8">
              <input value="Việt Nam" class="form-control" type="text" readonly>
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="dateStart" class="col-form-label">Ngày thực hiện tiêm<span
                class="text-danger">*</span></label>
            </div>
            <div class="col-8">
              <input id="dateStart" class="form-control" type="date">
              <div style="height: 10px; font-size: 15px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button style="width: 100px" class="btn btn-success mr-1">Đăng ký</button>
        <a style="width: 100px;" href="man_hinh_xem_thong_tin_vac_xin.html" class="btn btn-dark ml-1">Hủy</a>
      </div>
    </div>
  </div>

</div>
