
<div class="content">
  <div class="container-fluid ">
    <h1 class="text-center mt-4 mb-4">Danh Sách Các Giao Dịch Với Khách Hàng (Bệnh Nhân)</h1>

    <div class="search row d-flex justify-content-center mb-4 text-center">
      <div class="col-lg-4 col-md-3">
      </div>
      <div class="col-xl-2 col-md-3">
        <label>Tên Khách Hàng</label>
        <input class="form-control" type="text" placeholder="Nhập Tên khách hàng">
      </div>
      <div class="col-xl-2 col-md-3">
        <label >Loại vắc-xin</label>
        <select class="form-control" name="">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2 mt-2">
        <br>
        <button class="btn btn-success"><i class="fa fa-search"> </i>Tìm kiếm</button>
      </div>
    </div>

    <div class="">
      <table style="" class="table table-hover table-striped table-bordered">
        <thead>
        <tr class="text-center bg-table-header">
          <th>STT</th>
          <th>Mã giao dịch<br>khách hàng</th>
          <th>Mã vắc-xin</th>
          <th>Loại vắc-xin</th>
          <th>Số lượng<br>vắc xin (ml)</th>
          <th>Mã bệnh nhân<br>(khách hàng)</th>
          <th>Tên khách hàng<br>(bệnh nhân)</th>
          <th>Ngày giao dịch</th>
          <th>Giá<br>(VNĐ/ml)</th>
          <th>Thành tiền<br>(VNĐ/ml) </th>
          <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of vaccineTransaction,index as i">
          <td>{{i+1}}</td>
          <td>{{vaccineTransaction.vaccinationTransactionId}}</td>
          <td>{{vaccineTransaction.vaccinationHistory.vaccination.vaccine.vaccineId}}</td>
          <td>{{vaccineTransaction.vaccinationHistory.vaccination.vaccine.vaccineType.name}}</td>
          <td style="text-align: right">{{vaccineTransaction.quantity}}</td>
          <td>{{vaccineTransaction.vaccinationHistory.patient.patientId}}</td>
          <td>{{vaccineTransaction.vaccinationHistory.patient.name}}</td>
          <td style="text-align: center">{{vaccineTransaction.vaccinationHistory.vaccination.date}}</td>
          <td style="text-align: right">{{vaccineTransaction.price}}</td>
          <td style="text-align: right">{{vaccineTransaction.price}}</td>
          <td style="text-align: center">
            <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-md-end justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Đầu</a></li>
          <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
          <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
          <li class="page-item col-md-1 col-2  px-0">
            <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
            <div class="input-group">
              <input type="text" class="form-control text-right rounded-0" placeholder="2" aria-label="Username" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">/5</span>
              </div>
            </div>
          </li>
          <li class="page-item">
            <button class="btn btn-primary rounded-0">Đi</button>
          </li>
          <li class="page-item"><a class="page-link" href="#">Trang kế</a></li>
          <li class="page-item"><a class="page-link" href="#">Cuối</a></li>
        </ul>
      </nav>
    </div>    </div>
</div>
