<!-- content -->
<div class="container">

  <div class="container-fluid" id="custom-font">
    <div class="container">
      <h1 class="text-center mt-4 mb-4">Phản hồi thông tin sau khi tiêm chủng</h1>
      <h5 class="title-h5">Thông tin khách hàng</h5>
      <div class="row">
        <div class="row col-6">

          <div class="col-4">
            <p>Mã bệnh nhân:</p>
            <p>Tên bệnh nhân:</p>
            <p>Giới tính:</p>
            <p>Tuổi:</p>
            <p>Người giám hộ:</p>
            <p>Địa chỉ:</p>
            <p>Số điện thoại:</p>
          </div>

          <div class="col-8">
            <p>BN-001</p>
            <p>Nguyễn Hoàng Tứ</p>
            <p>Nam</p>
            <p>21</p>
            <p>Nguyễn thị Thanh Thảo(mẹ)</p>
            <p>Quảng nam</p>
            <p>0857886264</p>
          </div>
        </div>
        <div class="col-6 row">

          <div class="col-4">
            <p>Loại vắc-xin:</p>
            <p>Ngày tiêm:</p>
          </div>
          <div class="col-8">
            <p>PBD</p>
            <p>12/12/2020</p>
          </div>
          <div class="col-10">
            <p>Tình trạng sau khi tiêm(Sốt cao,sốt nhẹ,dị ứng,...)</p>
            <textarea class="form-control" rows="4" id="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="text-center with-submit">
        <button type="button" class="btn btn-warning with-button">Phản hồi lại</button>
        <button type="button" class="btn btn-secondary with-button">Hủy</button>
      </div>
    </div>
  </div>
</div>
