<div class="container">
  <h2 style="text-align: center;font-weight: bold">Thông Tin Vắc-Xin Nhập Kho</h2>
  <form action="">
    <div class="mt-5 row">
      <div class="col-6" style="font-weight: bold;font-size: 17px">
        <div class="row">
          <div class="col-4">
            <label for="mavac-xin" class="mr-3">Mã Vắc-Xin <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="mavac-xin" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="tenvac-xin" class="mr-3">Tên Vắc-Xin <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="tenvac-xin" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="loaivac-xin" class="mr-3">Loại Vắc-Xin <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="loaivac-xin" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="ngaynhap" class="mr-3">Ngày Nhập <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="date" id="ngaynhap" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="sogiayphep" class="mr-3">Số Giấy Phép</label>
          </div>
          <div class="col-8">
            <input type="number" id="sogiayphep" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="nuocsx" class="mr-3">Nước Sản Xuất <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="nuocsx" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="nhacc" class="mr-3">Nhà Cung Cấp <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="nhacc" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6" style="font-weight: bold;font-size: 16px">
        <div class="row">
          <div class="col-4">
            <label for="dongia" class="mr-3">Đơn Giá <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="number" id="dongia" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="hamluong" class="mr-3">Hàm Lượng (ml)<span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="hamluong" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="solo" class="mr-3">Số Lô</label>
          </div>
          <div class="col-8">
            <input type="text" id="solo" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="hansudung" class="mr-3">Hạn Sử Dụng <span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="hansudung" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="dkbaoquan">Điều Kiện Bảo Quản<span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="dkbaoquan" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="dotuoi" class="mr-3">Độ Tuổi Tiêm Chủng<span style="color: red">*</span></label>
          </div>
          <div class="col-8">
            <input type="text" id="dotuoi" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-primary mr-5">Lưu Kho</button>
      <button class="btn btn-dark" type="reset">Hủy</button>
    </div>
  </form>

</div>
