<div class="text-center mt-5">
  <h3>TẠO MỚI NHÂN VIÊN</h3>
</div>
<div class="container">
  <div class="row  mt-5">

    <div class="col-md-6">
      <div class="container">
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Mã nhân viên (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Họ và tên (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Ngày sinh (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input style="width: 170px;" class="form-control" type="date">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">CMND (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Địa chỉ (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Số điện thoại (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Chức vụ (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <select class="form-control">
              <option>Chọn chức vụ</option>
              <option value="Bác Sĩ">Bác Sĩ</option>
              <option value="Y tá">Y tá</option>
              <option value="Trường khoa">Trưởng khoa</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Quyền truy cập (<label style="color:red">*</label>)</label>
          </div>
          <div class="col-8">
            <select class="form-control">
              <option>Chọn quyền truy cập</option>
              <option>Admin</option>
              <option>User</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>
            <button class="btn btn-primary mr-2">Đăng ký</button>
            <button class="btn btn-dark" style="width: 80px">Hủy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
